<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title _ARCHITEKT

  //- link(rel="stylesheet" href="css/styles.css")
  link(rel='stylesheet' href='css/architekt.css')
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600')
  link(rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")
body
  div.outside_container
    div.main_container
      div.header
        h1 _ARCHITEKT
        div.header_text_cont
          p Welcome to our online portfolio, we are a small group
            | of passionate designers and architects, looking to
            | change and create amazing digital images to inspire
            | others to follow in our innovative steps. Free Architect
            | WordPress Theme
      div.menu_container
      div.slider_container
        img(src="images/prev-arrow.png" class="slide_prev_new")
        img(src="images/next-arrow.png" class="slide_next_new")
        div.slideshow
          img(src="images/slideshow-food-3.png")
      div.home_blog_box
        img(src="images/slideshow-food-1.jpg")
      div.home_blog_box.home_second_blog_box
        img(src="images/slideshow-food-2.jpg")
      div.home_blog_box.home_blog_box_last
        img(src="images/slideshow-food-4.jpg")
      div.home_blog_box
        img(src="images/slideshow-food-5.jpg")
      div.home_blog_box.home_second_blog_box
        img(src="images/slideshow-food-6.jpg")
      div.home_blog_box.home_blog_blox_last
        img(src="images/slideshow-food-7.jpg")

  block content