extends _layout

block content
  div.row
    div.large-12.columns
      a(href="/gallery/#{top_image.id}")
        img(src='#{top_image.link}')
  br
  div.row
    each photo in photos
      div.medium-4.columns
        br
        a(href="/gallery/#{photo.id}")
          img(src='#{photo.link}')
