body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding:0;
  margin:0;
}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  width: 333px;
  display: inline-block;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  color: #00cc00;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 12px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h6.index {
  font-size: 10px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

h5.gallery {
  font-size: 14px;
  font-weight: bold;
  color: #c7c7c7;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

h5.gallery_desc {
  font-size: 14px;
  font-weight: bold;
  color: #0000;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

h6.gallery {
  font-size: 12px;
  font-weight: 300;
  background-color: #ffffff;
  color: #c7c7c7;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

img.gallery {
  height: 494px;
}

span {
  font-size: 12px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

iframe {
  width: 850px;
  height: 450px;
  border: none;
  /*padding-left: 13em;*/
  margin: 20px 200px auto;
}

.testbox {
  margin: 20px auto;
  width: 380px;
  height: 290px;
  /*background-image: url("../images/matrix.gif");*/
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

form{
  margin: 0 30px;
}

input[type=text] {
  width: 280px;
  height: 39px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
}

input[type=text],input[type=email],input[type=question],input[type=submit] {
  width: 230px;
  height: 39px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px;
}

input[type=question] {
  margin-bottom: 25px;
}

input[type=submit] {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 5px -20px;
  padding: 6px 10px 6px 10px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 110px; height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #000000;
  -webkit-box-shadow: 0 3px rgba(36,119,26,.75);
  -moz-box-shadow: 0 3px rgba(36,119,26,.75);
  box-shadow: 0 3px rgba(36,119,26,.75);
  transition: all 0.1s linear 0s;
  top: 0px;
  position: relative;
}

input[type=submit]:hover {
  top: 3px;
  background-color:#00CC00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #00CC00;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  color: #000000;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 0px #cbc9c9;
}

.textfield {
  margin-left: 8px;
  margin-top: 20px;
}

.textfilter {
  margin: 20px auto;
  width: 343px;
  height: 220px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
  color: #00CC00;
}

div.submit {
  margin-right: 120px;
  margin-top: 18px;
}

div.boxed {
  border: 1px solid #fff;
  background-color: white;
  padding-left: 26px;
  margin-left: 6px;
  margin-top: 10px;
  width: 305px;
  height: 200px;
  overflow: scroll;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  /*color: red;*/
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 0px #cbc9c9;
}

img.top-image {
  width: 100%;
  height: 375px;
}

div.space {
  white-space: pre;
}

div.header_logo{
  padding-top: 15px;
}

div.header_text_cont p {
  text-align: left;
  font-size: 12px;
  padding: 0 25px 0 15px;
  margin: 10px 0;
  float: left;
  border-left: 1px dotted #ccc;
  color: #999;
  width: 275px;
}

/*div.gallery {
  width: 100%;
  height: 375px;
}*/

/* Navigation */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  border-bottom: 3px solid #333333;
  padding: 0 5px;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  background: #dddddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu:after,
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  display: inline-block;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: #0e83cd;
}
#cssmenu ul li:hover a,
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #333333;
}
@media all and (max-width: 640px) {
  #cssmenu {
    padding: 0;
    border-radius: 0;
    border: 0;
  }
  #cssmenu ul li,
  #cssmenu.align-center,
  #cssmenu.align-right {
    display: block;
  }
}

div.clear {
  display: block;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-top: -30px;
}

div.clear_footer {
  padding-top: 10px;
  margin-top: -30px;
}

div.footer_box {
  height: 198px;
  border-right: 1px solid #dddddd;
  padding-right: 20px;
  margin-right: 20px;
  /*float: left;*/
}

div.footer_box_cont {
  border-right: 0;
}

div.footer_box_li li {
  display: list-item;
  text-align: -webkit-match-parent;
  color: #6c6c6c;
  font-size: 12px;
}

div.footer_box_h3 h3 {
  text-align: -webkit-match-parent;
  color: #010101;
  font-size: 12px;
  font-weight: normal;
}

div.footer_box_border_top {
  padding: 20px 0;
  margin-top: 25px;
  border-top: 1px solid #e5e5e5;
  display: block;
}

div.footer_copyright h6 {
  background-color: #ffffff;
  padding: 5px 40px 0 0;
  color: #838383;
  font-size: 11px;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 10px;
}